/*Inicio de tablets*/

/*768 para tablet y está dentro de los 800px que vamos a trabajar*/
@media screen and (max-width: 800px) {
  /*portada*/
  .titulo {
    font-size: 45px;
    margin-top: 0;
  }
  .title-a {
    font-size: 18px;
  }
  .portada {
    height: auto;
  }
  .portada .button {
    margin-bottom: 30px;
    display: inline-block;
  }
  /*fin de la portada*/

  /* cafes*/
.cafes {
  text-align: center;
  margin:0 ;
}
.right, .left {
  float: none;
  position: static;
}
.contenedor-cafe-a {
  position: static;
  padding: 0;
}
.contenedor-cafe-b {
  margin: 0;
  position: static;
}

.cafe.granoscafe {
  height: auto;
}

.cafe li {
  list-style: none;
}

.title-b {
  margin: 0;
}
/*fin de cafes*/
}

/*fin de tablets*/

/*Cualquier dimensión que sea inferior a 777 vamos a cambiar el footer*/

@media screen and (max-width:767px) {
/*Footer*/
textarea {
  width: 100%;
}
.footer .contenedor {
  display:block;
}

.footer img {
  width: 250px;
}
.contacto {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.generos label {
  font-size: 16px;
}

.intereses label {
  display: block;
  font-size: 16px;
}

.formulario {
  display: block;
  width: 300px;
  margin: 0 auto;
}
 .formulario .button {
   width: 100%;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
 }
.col1 {
  margin: 0;
}

/*selectores de atributos*/
input [type="text"],
input[type="email"] {
  font-size: 16px;
  padding: 5px;
}

input[type="radio"],
input[type="checkbox"]{
  position: relative;
  top: 3px;
  zoom: 1.5;
}

/*Fin del footer*/
}

@media screen and (max-width:650px) {
.header {
  text-align: center;
}  
.logotipo {
  margin: 0;
}
.menu {
  position: static;
  display: block;
}
.menu li:first-child {
  margin: 0;
}
.menu ul {
  padding: 0;
}
}

/*celulares*/
@media screen and (max-width:500px) {
  /*Portada*/
  .menu li {
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white;
  }
  
  .menu li:first-child {
    border-top: 1px solid white;
  }

  .portada {
    text-align: center;
  }

  .titulo {
    font-size: 35px;
  }

  .title-a {
    font-size: 15px;
  }
  /*Fin de portada*/

  /*Cafes*/
  .cafe img {
    width: 200px;
  }
.title-b {
  font-size: 30px;
}
  /*Fin cafes*/
}


/*fin de Celulares*/